<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.transport.dao.CarMapper">
    <select id="findCarByCarNumber" parameterType="java.lang.String" resultType="com.transport.entity.Car">
        select * from cars_information where car_number =#{no}
    </select>
    <select id="findAllCar" resultType="com.transport.entity.Car">
        select * from cars_information WHERE del=0
    </select>

    <insert id="insert" parameterType="com.transport.entity.Car">
        INSERT INTO cars_information (id,car_number,car_state,del) VALUES (#{id},#{car_number},#{car_state},#{del})
    </insert>

    <update id="update" parameterType="com.transport.entity.Car">
        UPDATE cars_information set car_number=#{car_number},car_state=#{car_state} where id=#{id}
    </update>

    <update id="deleteCar" parameterType="java.lang.Integer">
        UPDATE cars_information set del=1 WHERE id=#{id}
    </update>
</mapper>