<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.transport.dao.TransportMapper">
    <select id="findTransportListInfoByCarId"
            resultType="com.transport.entity.InfoBean">
        select t.id,t.gasoline_cost,t.road_cost,t.ferry_cost,t.weight,t.state,c.starting_place,c.ending_place,c.count,c.remark,c.name,c.phone,u.user_name from transport_info t LEFT JOIN transport_consigner_info c on t.id=c.transport_id  LEFT join user_information u on t.user_id=u.id where t.car_id=#{0}  and t.state!=2 order by t.update_date desc
    </select>

    <select id="addInfo" parameterType="com.transport.entity.TransportInfo">
        select count(*) from transport_info where car_id=#{id}
    </select>

    <insert id="insertInfo" parameterType="com.transport.entity.TransportInfo">
        <selectKey keyProperty="id" resultType="java.lang.Integer" order="AFTER">
            SELECT Last_insert_id()
        </selectKey>

        INSERT INTO transport_info
        (id,car_id,user_id,gasoline_cost,road_cost,ferry_cost,state,create_date,update_date,weight) VALUES
        (#{id},#{car_id},#{user_id},#{gasoline_cost},#{road_cost},#{ferry_cost},#{state},#{create_date},#{update_date},#{weight})
    </insert>
</mapper>